.ant-tabs-nav {
  background: #fff;
  @apply dark:bg-gray-900 transition-colors duration-300;
}
.ant-tabs-tab-btn {
  display: flex;
  align-items: center;
  padding: 0 10px;
  @apply text-gray-700 dark:text-gray-200;
}
.ant-tabs-tab {
  background: #fff;
  @apply dark:bg-gray-900 transition-colors duration-300;
  & > button {
    display: none;
  }
  &:hover {
    & > button {
      display: inline-block;
    }
  }
}

.ant-tabs-content {
  @apply bg-white dark:bg-gray-900 transition-colors duration-300;
}

.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab {
  @apply border border-gray-200 dark:border-gray-700;
}

.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab-active {
  @apply border-b-2 border-blue-500;
}
